<% if @product.on_sale %>
  <span style="background:red; color:white; padding:5px;">SALE</span>
<% end %>

<% if @product.created_at >= 3.days.ago %>
  <span style="background:green; color:white; padding:5px;">NEW</span>
<% end %>

<% if @product.updated_at >= 3.days.ago && @product.created_at < 3.days.ago %>
  <span style="background:orange; color:white; padding:5px;">UPDATED</span>
<% end %><h1><%= @product.name %></h1>
<% if @product.image.attached? %>
  <%= image_tag url_for(@product.image), width: 300 %>
<% end %>
<p><%= @product.description %></p>
<p>Price: $<%= @product.current_price %></p>

<%= button_to "Add to Cart", add_cart_path(product_id: @product.id), method: :post %>